body{
    margin: 10px 60px ;
}
.titulop{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.subtitulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.titulom{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.Lorem{
    font-style: italic;
    max-width: 1000px;
}
.div-comida{
    padding-left: 0px;
    width: 1000px;
    height: 300px;
    overflow: hidden;
}
.listas{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5rem;
}
